In [19]:
#Q1
s = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted(s,key=lambda x:x[1])

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [33]:
#Q2
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda num:num**2,num))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [42]:
#Q3
tuple(map(lambda x:str(x),[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [8]:
#Q4
from  functools import reduce
num = range(1,26)
reduce(lambda x,y:x*y,num)

15511210043330985984000000

In [27]:
#Q5
num = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
def even_odd(num):
    return num%2==0 and num%3==0

In [28]:
list(filter(even_odd,num))

[6, 60, 90, 120]