In [1]:
import pandas as pd

In [2]:
#Q1
my_list = [4,8,15,16,23,42]

In [5]:
pd.Series(data = my_list)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
#Q2
x = pd.Series([1,2,3,'su',4,5,4.5,7,8,9])
print(x)

0      1
1      2
2      3
3     su
4      4
5      5
6    4.5
7      7
8      8
9      9
dtype: object

In [10]:
#Q3
df = pd.DataFrame({'Name':['Alice','Bob','Carlie'],'Age':[25,30,27],'Gender':['Female','Male','Female']})

In [11]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Carlie   27  Female

In [12]:
#Q4 Series is 1D ARRAY where as Dataframe is 2D

In [13]:
#Q5 info on unique value (.unique,.head.,.value_cants,.Tail,.drop,.isnull,dropna,fillna,)

In [14]:
#Q6 Dataframe

In [15]:
#Q7
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [16]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [18]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9','D10', 'D11']},
                        index=[8, 9, 10, 11])

In [21]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11